<template>
  <div>
    <div class="page-header pr-0">
      <h2>
        <a href="/dashboard"><i class="fas fa-tachometer-alt"></i></a>
      </h2>
      <ol class="breadcrumbs">
        <li class="active"><span>Cajas</span></li>
      </ol>
      <div class="right-wrapper pull-right">
        <!-- <template v-else>                 -->
        <!-- <button type="button" class="btn btn-success btn-sm  mt-2 mr-2" @click.prevent="clickOpenPos()"><i class="fas fa-shopping-cart" ></i> Aperturar punto de venta</button> -->
        <!-- </template> -->
      </div>
    </div>
    <div class="card mb-0">
      <div class="card-header bg-info">
        <h3 class="my-0">Listado de productos a inventariar</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Cod Interno</th>
                    <th>Nombre</th>
                    <th>Inventario</th>
                    <th>Observaciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(row, index) in items" :key="index + 'R'">
                    <td>{{ row.id }}</td>
                    <td>{{ row.internal_id }}</td>
                    <td>{{ row.description }}</td>
                    <td>
                      <input
                        type="text"
                        class="form-control"
                        v-model="row.value"
                      />
                    </td>
                    <td>
                      <input
                        type="text"
                        class="form-control"
                        v-model="row.observation"
                      />
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-success w-100" @click="storeItems">Guardar</button>
    </div>
  </div>
</template>

<script>
import Axios from 'axios';
export default {
  components: {},
  props: ["idcajanew"],
  data() {
    return {
      showDialog: false,
      showDialogOptions: false,
      open_cash: true,
      resource: "cash",
      recordId: null,
      cash: null,
      items: [],
    };
  },
  async created() {
    console.log(this.idcajanew)
    this.getItemsInventory()
  },
  methods: {
    async getItemsInventory() {
      const { data } = await this.$http.get(`/${this.resource}/itemsInventory`);
      this.items = data.data;
    },

    async storeItems () {
        const datad = {
            idCaja: this.idcajanew,
            items: this.items
        }
        const { data } = await this.$http.post(`/${this.resource}/itemsInventory`, datad);

        this.$message.success(data.message)

        window.location.href = "/cash";
    }
  },
};
</script>
