<template>
  <div>
    <div class="page-header pr-0">
      <h2>
        <a href="#"><i class="fas fa-cogs"></i></a>
      </h2>
      <ol class="breadcrumbs">
        <li class="active"><span>Configuración</span></li>
        <li><span class="text-muted">Cantidad de Productos a mostrar</span></li>
      </ol>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="alert alert-success" v-if="status" role="alert">
         {{ message }}
        </div>
        <div class="row">
          <div class="col md-12">
            <div class="form-group">
              <label for="">Cantidad de Productos</label>
              <input type="text" v-model="configValue" class="form-control" />
            </div>
          </div>
          <div class="col-md-12 mt-3">
            <button
              class="btn btn-success w-100"
              v-on:click="storeConfiguracion"
            >
              Guardar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "contactos-list",
  data() {
    return {
      configValue: "100",
      status: false,
      message: ''
    };
  },
  methods: {
    listConfiguracion() {
      axios.get("/api/configurations/getNumberProducts").then((data) => {
        this.configValue = data.data;
      });
    },
    storeConfiguracion() {
      const formData = {
        configValue: this.configValue,
      };

      axios
        .post("/api/configurations/getNumberProducts", formData)
        .then((data) => {
          this.status = data.data.success
          this.message = data.data.message
        });
    },
  },
  mounted() {
    this.listConfiguracion();
  },
};
</script>
